{% include "header.html" %}


<header id="header">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">Doggo Translator</h1>
			<hr>
			<p>Enter a word and have it translated to or from pupperspeak!</p>
			<form id="search_form">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<input type="text" class="form-control input-lg" id="term" placeholder="Search Term..." name="term">
					</div>
					<div>
						<button type="submit" class="btn btn-primary btn-xl">Search</button>
					</div>
					<br>
					<div>
						<a href="#about" class="btn btn-primary btn-xl page-scroll"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							Add new words
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</form>
			<br>
			<div>
			</div>
		</div>
	</div>
</header>

<section class="bg-primary" id="add-words">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">New translations? Add them here!</h2>
				<hr class="light">
				<form action="{{ url_for('new_translation') }}" method=post class=add-entry>
					<div class="form-group">
						<fieldset class="form-group">
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="type" id="eng" value="False" checked>
									English to Pupperspeak
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="type" id="pup" value="True">
									Pupperspeak to English
								</label>
							</div>
							<div class="col-md-8 col-md-offset-2">
								<input type="text" class="form-control" id="term" placeholder="new word..." name="word">
								<br>
								<div class="form-group" id="word_fields">
									<input type="text" class="form-control" id="term" placeholder="new translation..." name="term">
								</div>
								<div>
									<button type="button" class="btn btn-default btn-sm" id="more_words_btn">Add More</button>
								</div>
								<!-- TODO add close button -->
								<br>
							<button type="submit" class="btn btn-default btn-lg" id="more_words_btn">Submit</button>

							</div>
						</fieldset>
					</div>
				</form>



				<!-- <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a> -->
			</div>
		</div>
	</div>
</section>


{% include "footer.html" %}
