{% include "header.html" %}


<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">{{ word }} <a href="{{ url_for('edit_view', word=word)}}">
				<button class="btn btn-primary">EDIT</button>
			</a></h1>
			<p>{{ word_type }}</p>
			
			<hr>
			{% for translation in translations %}
			<h1>{{ translation }} <a href="{{ url_for('edit_view', word=translation)}}">
				<button class="btn btn-primary">EDIT</button>
			</a></h1>
			<p>{{ trans_types[loop.index0]}}</p>
			{% endfor %}


		</div>
		<hr>
		<form id='search_form'>
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
					<input type="text" class="form-control" id="term" placeholder="Search Term..." name="term">
				</div>
			</div>
			<div class="col-sm-12">
			</div>
			<div>
				<button type="submit" class="btn btn-primary btn-xl">Search</button>
			</div>
		</form>
	</header>

	{% include "footer.html" %}
